fastapi
uvicorn[standard]
langchain
langchain-community
langchain-google-genai
langchain-ollama
langchain-pinecone
langchain-huggingface
pinecone
python-dotenv
pydantic-settings
pypdf
unstructured-client
markdown
tiktoken
httpx
redis
rank_bm25

torch
transformers
sentence-transformers==2.7.0
numpy==1.26.4
