fastapi
uvicorn[standard]

langchain
langchain-community
langchain-google-genai
langchain-ollama
langchain-pinecone

pinecone

python-dotenv
pydantic-settings

pypdf
unstructured
markdown

tiktoken

httpx